# Install and configure Calico using Ansible role `mcaliandro.kubernetes`.
# Disable BGP mode and activate VXLANCrossSubnet encapsulation on default IP pool.
# For more information, see: https://docs.tigera.io/calico/latest/reference/installation/api#operator.tigera.io/v1.Installation
---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    bgp: Disabled
    ipPools:
    - name: default-ipv4-ippool
      cidr: {{ kubernetes_pod_network }}
      encapsulation: VXLANCrossSubnet